.box {
  background-color: #0006;
  width: 50px;
  height: 3em;
  display: inline-grid;
  place-items: center;
}

html {
  line-height: 1.5;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

/* DECORATION */

body {
  background-color: #e0d0b2;
}

.nav,
.foot {
  color: #fff;

  position: relative;
  /* background-color: #273629; */

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #273629;
    z-index: -1;
    left: calc(-50vw + 50%);
  }
}

.foot {
  font-size: 0.8rem;
  a {
    color: #fff;
  }
}

.body {
  background-color: #f5ecd9;
  border-radius: 10px;
  font-size: clamp(0.6rem, 0.3rem + 0.9vw, 1rem);
}

.body-head button {
  color: #fff;
  background-color: #273629;
  border-radius: 0.5em;
  font-weight: 500;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card {
  color: #fff;
  box-shadow: 4px 4px 5px 1px #8b5e3c86;
  font-size: clamp(0.6rem, 0.3rem + 0.8vw, 1rem);
  border-radius: 0.4em;
  img {
    border-radius: inherit;
  }
}

/* LAYOUT */

body {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  gap: 80px;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    height: 65%;
  }
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  --spacing: 3vw;
  width: min(80vw, 900px);
  color: #444444;
  padding: 3em calc(var(--spacing) * 2);

  .body-head {
    display: grid;
    grid-template:
      "h1 btn" min-content
      "h2 ..." min-content
      / 1fr max-content;
    align-items: baseline;

    & > button {
      grid-area: btn;
      display: flex;
      align-items: center;
      gap: 0.5em;
      height: 100%;
      padding: 0 1em;

      img {
        height: 1.25em;
        filter: invert(100%);
      }
    }
  }
}

.cards {
  margin: 3em 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 4vw var(--spacing);
}

.card {
  aspect-ratio: 2/3;

  overflow: hidden;
  position: relative;

  & > .read,
  & > .delete {
    --pos: 0.6em;
    position: absolute;
    height: 10%;

    border-radius: 0.3em;
    padding: 3%;

    display: flex;
    gap: 0.2em;
    align-items: center;

    opacity: 0;
    transition: opacity 200ms ease-in-out;

    > img {
      height: 100%;
      filter: invert(100%);
    }
  }

  & > .read {
    top: var(--pos);
    left: var(--pos);
    background-color: hsl(204, 25%, 42%);

    &:hover {
      background-color: hsl(204, 25%, 25%);
    }
  }

  &[read] > .read {
    background-color: hsl(123, 95%, 38%);

    &:hover {
      background-color: hsl(123, 95%, 25%);
    }
  }

  > .delete {
    top: var(--pos);
    right: var(--pos);
    background-color: #ff1717;
    &:hover {
      background-color: #860f0f;
    }
  }

  &:hover > .read,
  &:hover > .delete {
    opacity: 1;
  }

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .details {
    padding: 1em;
    height: 100%;
    width: 100%;

    transition: all 750ms ease-in-out;
  }

  &:hover {
    .details {
      background-color: #000b;
      transform: translateY(-85%);
    }
  }
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: #f5ecd9;
  border: 1px solid #e0d0b2;
  border-radius: 0.75em;
  padding: 4%;
  width: min(500px, 60vw);
}

::backdrop {
  background-color: #7775;
  backdrop-filter: blur(1px);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0em 1em;

  * {
    padding: 0.25em 0.5em;
    border-radius: 0.3em;
    min-width: 0px;
  }

  input,
  select,
  textarea {
    border-style: none;
    background-color: #fff;
    border: 1px solid #e0d0b2;
    height: 2em;
  }

  textarea {
    height: 4em;
  }

  & > button[type="button"] {
    background-color: #c25858;
    justify-self: end;
  }

  & > :has(textarea) {
    grid-column: 1 / -1;
  }
  & > :has([type="url"]) {
    grid-column: 1 / -1;
  }
  button {
    color: #fff;
    grid-column: 1 / -1;
  }

  & > button[type="submit"] {
    background-color: #273629;
    margin-top: 0.75rem;
    place-self: center;
  }
}

.form-field {
  display: grid;
}
